.row.destaque p
	margin:3em 0
.column .description
	font-size:1.4em;
.row.adote-um-mapa .column ul li p
	color:#6a908b
	font-size:0.8em
.header
	height:60px
.header a img
	margin-top:3px
.row.como-funciona .column p
	font-size:1.3em
	font-weight: bold
.row.como-funciona .column p.description
	font-weight: normal
	opacity:0.7
	font-size:0.9em
.column .description
	font-size:1.4em
.row.adote-um-mapa .column ul li p
	color:#6a908b
	font-size:0.8em
.success-board
	padding:3em
.success-board .text-featured
	margin-top:1em
.success-board p
	opacity:0.4
.success-board p a
	text-decoration:underline

@media screen and (max-width: 414px)
	.row.destaque p
		max-width: 100%
	.row.como-funciona .column p.description
		border-bottom: 1px solid #8F2F23
		padding-bottom:30px
	.row.adote-um-mapa .column .description,
	.row.audio-guia .column .description
		margin-top:10px
		text-align:center
	.row.audio-guia img
		max-width:100%
		margin:auto
	.button
		width:100%
	.row.formato .item .button
		margin-top:-10px
	.row.adote-um-mapa .column ul li
		float:none
		text-align:center
		width:100%
	.row.adote-um-mapa .column ul li img
		margin:auto
