.button
	height: 3em
	line-height: 2.8em
	text-align:center
	display: inline-block
	font-size: 1.4em
	padding: 0 1.5em
	background-color: white
	color: brownish-grey
	border: 0
	border-bottom: .3em solid #e3e3e3;
	&:hover
		text-decoration:none
		box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1)
		-webkit-box-shadow: 0px 4px 37px -6px rgba(0,0,0,0.2);
		-moz-box-shadow: 0px 4px 37px -6px rgba(0,0,0,0.2);
		box-shadow: 0px 4px 37px -6px rgba(0,0,0,0.2);
	&:active
		border-bottom: none
		height: 2.8em
		margin-top: .2em
.button.verde
	background-color: light-sage
	border-color: darken(light-sage, 8)
.button.primary
	color: #fff
	background-color: watermelon
	border-color: darken(watermelon, 20)
.button i
	height:25px
	width:25px
	margin-left:10px
	margin-top:14px
	margin-right:-10px