light-grey    = #efeae4
greyish-brown = rgb(59, 56, 53)
white         = #ffffff
grapefruit    = #ff5959
off-white     = #fffffe
brownish-grey = #6c635d
brownish-red  = rgb(143, 47, 36)
light-sage    = #cfeba9
light-grey-blue = rgb(154, 210, 203)
greyish       = #bfbdbb
watermelon    = #ed4d51
grape-purple  = #521a1c
pinkish-grey  = rgb(207, 202, 196)