@import 'jeet'
@import 'variables.import'
@import 'fonts.import'
@import 'animate.import'
@import "generic.import"
@import 'components/buttons.import.styl'
@import "components/form-panel.import"
@import "components/rodape.import"
@import "components/adote-um-mapa.import"
@import "components/imprimir-pdf.import"
@import "components/destaque.import"
@import "components/como-funciona.import"
@import "components/parceiros.import"
@import "components/escolha-formato.import"
@import "components/conheca.import"

.header
	text-align: center
	background-color: watermelon
	padding: 1em 0
	height:60px
	a
		img
			margin-top:3px

.row.audio-guia
	background-color: light-sage
	.column
		col(1/2)
		.description
			color: white
			margin: 2em 0
		img
			max-height: 380px

.pergunta
	margin-bottom: 1em
	padding: 3em
	background-color: white
	col(8/12, 2/12)
	text-align: left
	h3
		font-weight bold
		font-size 1.2em
		margin-bottom 1em
	p
		opacity:.5
		line-height 1.4em
		margin-bottom: 1em
	a
		color: watermelon

.row.instagram
	col(12/12)
	background-color: rgb(70, 67, 64)
	text-align: center
	h2
		margin-bottom: 2em
		color: white

.flash_message
	col(1)
	background-color: #dff0d8
	color: #3c763d
	border: 1px solid #d6e9c6
	padding: 1em
	text-align: center

p.description
	font-size:1.4em
@import "admin.import"
@import "mobile.import"

p
	a
		color: #EF4B4D;
		
.moip
	input
		max-width:150px

