@media screen and (max-width: 414px)
	.button
		padding: 0 1em
		width: 100%
	.row.destaque
		padding: 4em 0
		p
			max-width: 80%
	.row,
	.row.como-funciona,
	.row.adote-um-mapa,
	.row.audio-guia,
	.footer
		.container
			margin: 0 2em
		.column
			col(1)
		.button
			margin: 1em 0
	.row.audio-guia,
	.row.adote-um-mapa
		.column
			.description
				margin-top:10px
				text-align:center
			ul
				li
					float:none
					text-align:center
					width:100%

						img
							margin:auto;
	.row.destaque
		p
			max-width:100%
	.row.formato
		.item
			col(1)
			.button
				margin-top:-10px
	.row.conheca
		.box-ajudar
			col(1)
	.row.formato
		.item
			padding-bottom: 3em
	.row.como-funciona
		.column
			p.description
				border-bottom: 1px solid #8F2F23
				padding-bottom:30px
	.row.audio-guia
		img
			max-width:100%
			margin:auto
	.row.nossos-parceiros
		.parceiro
			width:25%;
			height:70px;
		.button
			width:100%;
	.form-panel
		col(1)
		margin-top: 1.5em
		h2
			display: none
		&.small
			col(8/10, 1/10)
			.button
				padding: 0
	#map
		margin: 0
	.success-board
		col(1)
		margin-top: 0
		margin-bottom: 2em
		.image-featured
			col(5/7, 1/7)
		.text-featured
			col(1)
	.footer
		.logo,
		.menu,
		.menu a,
		.newsletter,
		.perfis-sociais
			width:100%
			text-align:center
			padding:10px
			display:block
			float:none
			position:relative
			margin:auto
			width:100%
		.newsletter
			button
				margin:0px;
		.apoie, .sobre, .perfis-sociais
			display:block;
			float:none;
			text-align:center;
			position:relative;
			margin:auto;
		.menu-title
			margin-top:2em;
			text-align:center;
		.logo
			display:none;
		.button
			margin:0px;
		.fb-page span
			padding-top:30px;


