@media screen and (max-width: 414px)
	.button
		padding: 0 1em
	.row.destaque
		padding: 4em 2em
		p
			max-width: 75%
	.row,
	.row.como-funciona,
	.row.adote-um-mapa,
	.row.audio-guia,
	.footer
		.container
			margin: 0 2em
		.column
			col(1)
	.row.formato
		.item
			col(1)
	.row.conheca
		.box-ajudar
			col(1)
	.row.formato
		.item
			padding-bottom: 3em
	.form-panel
		col(1)
		margin-top: 1.5em
		h2
			display: none
		&.small
			col(8/10, 1/10)

	.success-board
		col(1)
		margin-top: 0
		margin-bottom: 2em
		.image-featured
			col(5/7, 1/7)
		.text-featured
			col(1)
