// componente da home
.row.adote-um-mapa
	background-color: light-grey-blue
	.column
		col(1/2)
		.description
			color: white
			margin: 2em 0
			font-size:1.4em
		ul li
			span(1/2)
			margin: 1em 0
			img, p
				display: inline-block
			img
				margin: 0 1em 0 0
			p
				margin: 0 .5em 0 0
				width: 60%
				vertical-align: top
				color:#6a908b
				font-size:0.9em
// box de busca na pagina de adote um mapa e mensagem de sucesso
.box-adote-um-mapa
	text-align: center
	h2
		font-size: 1.5em
		margin: 2em 0
	.button.confirmar
		col(1)
		margin-bottom: 2em
		font-weight: bold
	.buscar
		padding: 0
		img
			margin-top: 16px
#map
	height: 26em
	border: .1em solid greyish
	margin-top: 11em
	margin-bottom: 2em
.em-breve-board
	col(8/12, 2/12)
	background:white;
	margin-top:5em;
	margin-bottom:5em;
	padding: 4em;
	input, textarea
		margin-top:2em;
		padding:0px;
		border:0px solid white;
	.button
		margin-top:2em
	.adesivo-circle
		col(6/12)
		background white url("/images/adesivo-circle.png") 50% 50%
		background-size:cover;
		display:block
		float:none;
		margin-top 2em
		margin-bottom 2em
		height:250px;
		width:250px
		margin-left: auto
		margin-right auto
	h2
		margin:1em 0
		text-align center
		em
			color:#ED4D51
	h3
		margin-top 2em
		text-align left
	p, ul li
		opacity:.6
		margin-top:2em
		line-height:1.4em
		text-align left
	ul li
		list-style-type: circle;
		list-style-position: inside;
		margin:0 !important;
