.row.conheca
	background: 50% 50% url('/images/painel-poste.jpg') no-repeat transparent;
	background-size: cover;
	.box-ajudar
		color: white
		col(5/12, 1/12)
		padding: 4em 0
		h2
			background-color: brownish-red
			text-transform: uppercase
			padding: 1.5em 0
			font-size: 1em
			text-align: center
		.item
			background-color: watermelon
			col(1)
			padding: 1em
			img
				span(1/3)
			p
				padding: 0 0 1em 1em
				opacity: .5
				span(2/3)
				&.title
					font-weight: bold
					opacity: 1
