.form-panel
	col(8/12, 2/12)
	margin-bottom: 2em
	input[type=text], input[type=email]
		span(9/10)
		text-align: left
		margin-bottom: 1.5em
	.button
		span(1/10)
		text-align:center
		margin-bottom: 1.5em
	&.small
		col(6/12, 3/12)
		input[type=text], input[type=email]
			span(8/10)
		.button
			span(2/10)
			i
				margin: 13px 0 0 0
		h3
			font-weight: bold
			font-size: 1.5em
			margin: 0 0 1em
			text-align: center
			color: grapefruit
