.row.torne-parceiro
	background-color: pinkish-grey-dark
	.column
		col(1/2)
		p
			margin: 2em 0
			opacity:0.6
			line-height:1.4em
		input, textarea, button
			col(1)
			padding: 1em
			margin-bottom:1em
			height: 3em
			font-family: Montserrat
			font-size: 1em
			line-height: 1em
		button
			text-align: center
		textarea
			height: 10em

.nossos-parceiros
	padding-bottom:5em
	col(12/12)
	.container
		h2
			text-align center
			padding-bottom 1em

		.parceiro
			display: inline;
			height:220px;
			background:white
			text-align:center
			col(6/24, gutter:0)
			border: 2px solid #EFEAE4;

			box-sizing: border-box;

			&:hover
				text-decoration:none
				box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1)
				-webkit-box-shadow: 0px 4px 37px -6px rgba(0,0,0,0.2);
				-moz-box-shadow: 0px 4px 37px -6px rgba(0,0,0,0.2);
				box-shadow: 0px 4px 37px -6px rgba(0,0,0,0.2);
		#redbull
			background:white url("/images/parceiros-redbull.png") 50% 50% no-repeat;
			background-size:80%;
		#preto-cafe
			background:white url("/images/parceiros-pretocafe.png") 50% 50% no-repeat;
			background-size:80%;
		#ouvidor
			background:white url("/images/parceiros-ouvidor.png") 50% 50% no-repeat;
			background-size:80%;
		#garagem-hamburgueria
			background:white url("/images/parceiros-garagem.jpg") 50% 50% no-repeat;
			background-size:80%;
		#shoot
			background:white url("/images/parceiros-shoot.png") 50% 50% no-repeat;
			background-size:80%;
	.button
		display:block;
		width:35%;
		min-width:300px;
		margin:30px auto 0px auto;

