.footer
	col(1)
	background-color: greyish-brown
	padding: 3.5em 0

	.fb-page
		span
			margin-top:30px

	.logo
		span(6/24)
		padding: .0 0 0 0
		p
			margin-top 1em
			padding-right 3em

	.sobre, .apoie
		span(6/24)
		padding: .0 0 0 0
		a
			display:block
			color: #757371
			margin: 0 1em 0 0
			line-height:2em

			em
				color: #ED4D51

	.menu-title
		font-weight bold
		color white
		margin-bottom:1.5em

	.perfis-sociais

		form
			margin-top:2em
		span(6/24)
		a
			padding: 0 0 0 1em
		input, button
			span(8/10)
			height: 2.8em
			font-family: Arial
			font-size: .9em
		button
			span(2/10)
			text-align: center
			padding: 0
			i
				background-size: 100%
				width: 1.5em
				margin: .5em auto
