<template name="adotar_banner">
	<div class="container box-adote-um-mapa">
		<div class="em-breve-board">
			<h2>Em breve!<br></h2>
			<p>Se você quiser encomendar um banner antes do sistema ficar pronto, entre em contato conosco através do contatomapadaqui@gmail.com</p>
		</div>
	</div>
</template>
<template name="adotar_pvc">
	<div class="container box-adote-um-mapa">
		<div class="em-breve-board">
			<h2>Em breve!<br>Estamos trabalhando nessa página</h2>
			<p>Se você quiser encomendar uma placa de PVC antes do sistema ficar pronto, entre em contato conosco através do contatomapadaqui@gmail.com</p>

		</div>
	</div>
</template>
<template name="adotar_adesivo">
	<div class="container box-adote-um-mapa">
		<div class="em-breve-board">
			<h2>Adesivos</h2>
			<div class="adesivo-circle"></div>
			<p>Clique no botão abaixo para fazer o download do arquivo dos adesivos. Depois, é só levar em uma gráfica perto da sua casa, e pedir pra imprimir e cortar quantas cópias você quiser.</p>
			<form method="get" action="/images/Adesivo_mapadaqui.pdf">
			<button class="button primary" type="submit">Baixar adesivo</button>
			</form>

		</div>
	</div>
</template>
