<template name="cafezinho">
	<div class="container box-adote-um-mapa">
		<div class="em-breve-board">
			<h2>Doe um cafezinho</h2>
			<h2><em>  ♥</em></h2>
			<h2>O Mapa Daqui é totalmente grátis para usar, e nós precisamos da sua ajuda para mantê-lo assim para sempre.</h2>
			<p>O site é feito com muito amor e carinho, com a intenção de melhorar nossas cidades. Mas ele também depende de horas de trabalho e investimento dos fundadores para continuar em pé.</p>
			<p>Por isso, pedimos ajuda da comunidade, e também dos nossos parceiros comerciais, para cobrir nossos custos de forma colaborativa. Acreditamos que se o projeto tem valor para a comunidade, ele pode também ser sustentado por ela.</p>
			<h2>Atualmente, nossos custos mensais são:</h2>
			<ul>
				<li>Servidor Digital Ocean: R$25</li>
				<li>Facebook : R$100</li>
				<li>Design e Comunicação (20h/semana): R$2.000 </li>
				<LI>Programação (10h/semana) : R$2.000</LI>
			</ul>
			<p>Além disso, ao clicar o botão abaixo você ganha uma assinatura vitalícia de boas energias e gratidão ;)</p>

			<form method='post' action='https://www.moip.com.br/Process.do'>
				<input type='hidden' name='method' value='donation'/>
				<input type='hidden' name='donation_id' value='8845'/>
				<input type='hidden' name='type' value='2'/>
				<input type='image' name='submit' src='/images/button-contribuir.png' alt='Ajude a manter o Mapa Daqui vivo!' border='0' />
			</form>

		</div>
	</div>
</template>
