<template name="escolha_formato">
	<div class="row formato">
		<div class="container">
			<h2>Escolha o formato do seu mapa</h2>
			<h3>Todos os downloads são gratuitos</h3>
			<div class="item">
				<a href="/adotar-mapa">
				<img src="/images/formato-lambe-lambe.jpg" alt=""/>
				<h3>Papel caseiro (Lambe-Lambe)</h3>
				<p>Formatos compatíveis com qualquer impressora pra você colar por aí ou fazer lambe-lambe.</p>
				</a>
			</div>
			<div class="item">
				<a href="/adotar-banner">
				<img src="/images/formato-lona.jpg" alt=""/>
				<h3>Banner <br>de lona flexível</h3>
				<p>Ideal para amarrar em postes largos de iluminação, dá pra fazer na maioria das gráficas de bairro.</p>
				</a>
			</div>
			<div class="item">
				<a href="/adotar-pvc">
					<img src="/images/formato-placa-rigida.jpg" alt=""/>
					<h3>Placa rígida <br>de PVC</h3>
					<p>Para prender em postes finos de metal, ou afixar em uma parede do seu estabelecimento.</p>
				</a>
			</div>
			<div class="item">
				<a href="/adotar-adesivo">
				<img src="/images/adesivo.png" alt=""/>
				<h3>Adesivos <br>(mini placa)</h3>
				<p>Super portátil e barato de fazer! Leve sempre com você e espalhe pela cidade!</p>
				</a>
			</div>
		</div>
	</div>
</template>
