<template name="imprimir_pdf">
	<div class="container">
		<div class="success-board">
			<img class="image-featured" src="/images/ilustracao.svg" alt=""/>
			<div class="text-featured">
			<h2>Sucesso!<br>Agora é só imprimir e sair pra rua com seus lambes!</h2>
			<p>Seu download deve começar em alguns segundos. Caso seu download não inicie automaticamente, <a href="?tentativa=2">clique aqui</a> para tentar novamente.</p>
			</div>
		</div>
		<div class="success-board instructions">
			<div class="text-featured">
			<h2>Guia para instalar seus lambe-lambes</h2>
			<div class="lista">
				<ol>
					<li>Imprima o seu lambe-lambe colorido ou preto e branco (impressoras à 	laser ou xerox preto e branco costumam ser mais resistentes à chuva). 	Faça várias cópiar para espalhar em postes diferentes</li>
					<li>Para colar, utilize um pincel bem grosso, ou um rolinho de pintar, e 	uma mistura de cola branca com água ( na proporção 1 parte de cola 	para 2 partes de água).</li>
					<li>Escolha um local com bastante fluxo e permanância de pedestres, 	como em frente a restaurantes, bares, esquinas movimentadas, ou 	pontos de ônibus.</li>
					<li>Passe bastante cola no poste antes de colar o papel com um pincel 	largo ou um rolinho de tinta</li>
					<li>Cole as folhas no poste</li>
					<li>Passe bastante cola por cima de tudo, deixando bem molhado</li>
					<li>Espere secar e volte para preencher algumas informações no painel!</li>
					<li>Tire uma foto e compartilhe no insta com a hashtag #mapadaqui</li>

				</ol>
			</div>
			</div>
		</div>
		<form class="form-panel small">
			<h3>Inscreva-se para receber novidades :)</h3>
			<!-- Begin MailChimp Signup Form -->
				<form action="//mapadaqui.us11.list-manage.com/subscribe/post?u=87839c543889173eed0b160bd&amp;id=e968255174" method="post" id="mc-embeped-subscribe-form" name="mc-embeped-subscribe-form" class="validate" target="_blank" novalidate>
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Seu email">
					<div style="position: absolute; left: -5000px;"><input type="text" name="b_87839c543889173eed0b160bd_e968255174" tabindex="-1" value=""></div>
					<button type="submit" value="Subscribe" name="subscribe" id="mc-embeped-subscribe" class="button primary">
						<i class="icon-arrow-right"></i>
					</button>
				</form>
				<!--End mc_embed_signup-->
		</form>
	</div>
</template>
