<template name="perguntas_frequentes">
	<div class="container box-adote-um-mapa">

		<h2>Perguntas Frequentes</h2>

		<div class="pergunta">
		<h3>O que é o Mapa Daqui?</h3>
		<p>É uma ferramenta de criação colaborativa de peças de sinalização. Nosso sistema gera arquivos de placas, painéis e lambe-lambes de sinalização para qualquer endereço desejado. </p>
		<p>Essas placas são colocadas nas ruas por qualquer pessoa, e nelas há, além de um mapa da região, espaços em branco que a comunidade pode preencher com as informações mais importantes e interessantes sobre aquele local, como restaurantes favoritos, centros de reciclagem, memórias pessoais, espaços culturais, lojas, etc.</p>
		</div>

		<div class="pergunta">
		<h3>Por quê sinalização para pedestres importa?</h3>
		<p>Nossos centros urbanos por muito tempo têm sido projetados com ênfase no deslocamento motorizado, isolamento em condomínios fechados ou shopping centers, e aos poucos deixamos de lado o hábito de caminhar, explorar e ocupar nossos bairros e espaços comuns. Aos poucos, felizmente, a pauta da retomada dos espaços públicos com está voltando a fazer parte das nossas discussões, e o Mapa Daqui nasceu para dar força a esse movimento.</p>
		<p>
		Acreditamos que sinalização para pedestres de qualidade é uma das ferramentas essenciais para a criação de legibilidade, acessibilidade, diversidade e bem-estar nos espaços comuns das grandes cidades. Como esse equipamento está ausente da maioria das cidades brasileiras, e longe de ser uma prioridade do poder público, decidimos criar uma ferramenta para que qualquer pessoa possa produzir e instalar sua própria sinalização.
		</p>
		</div>

		<div class="pergunta">
		<h3>Continuo achando besteira...</h3>
		<p>Tudo bem, muita gente esqueceu como é bom explorar a cidade a pé. Mas se olharmos para cidades como Londres, que nos últimos anos instalou mais de 2.500 totens de sinalização para pedestres, ou Nova Iorque, que está no momento instalando seu sistema, com custo total de U$6 milhões, veremos que é um investimento inteligente.</p>
		<p>
		Essas cidades já comprovaram que incentivar o deslocamento a pé tem uma série de benefícios: Ajuda a diminuir a pressão nos outros modais de trânsito, como automóvel, ônibus e metrô; deixa as ruas mais seguras e vivas; é altamente inclusiva pelo seu baixo custo; é o modo de deslocamento mais sustentável, pois não emite poluição alguma; maior movimento nas calçadas movimenta o comércio local e incentiva o turismo; e faz muito bem para a saúde: entre outras coisas, reduz o risco de doenças do coração, obesidade, derrames, pressão alta, colesterol alto, gordura localizada, aumenta a densidade óssea, e bem-estar mental. <a href="http://content.tfl.gov.uk/ll-yellow-book.pdf">(Fonte)</a></p>
		</div>

		<div class="pergunta">
		<h3>Como funciona?</h3>
		<p>Qualquer pessoa pode entrar no site, escolher um formato de painel, um endereço, e baixar o arquivo de impressão dos mapas. Eles podem ser impressos em casa, no caso do lambe-lambe, ou  em gráficas de bairro nos materiais mais resistentes (lona e placa de PVC)</p>
		</div>

		<div class="pergunta">
		<h3>Mas opa, isso não é ilegal?</h3>
		<p>Em certas cidades, como São Paulo, a legislação proíbe, de fato, a colocação de cartazes, lambe-lambes, e placas em postes e equipamentos públicos. Essas leis, no entanto, foram criadas exatamente com o intuito de tornar as cidades mais legíveis, navegáveis, claras, e os deslocamentos menos confusos e poluídos. O Mapa Daqui compartilha desses objetivos, e estamos em um constante esforço para abrir o diálogo com prefeituras sobre o projeto.</p>

		<p>Também vale lembrar que, em geral, essas leis não abordam casos de materiais que não tenham conteúdo comercial. Mapa Daqui é um projeto cultural, sem fins lucrativos, que visa chamar a atenção da população e do poder público para a causa da sinalização. Todo cidadão tem o direito de se manifestar livremente, e intervir no espaço público de modo não-destrutivo é um jeito pacífico e poético de expressão. (Conforme <a href="http://www.greenpeace.org/brasil/pt/Documentos/Guia-pratico-de-como-fazer-lambe-lambes-em-sua-cidade/">este artigo</a> do Greenpeace)</p>

		<p>De qualquer forma, recomendamos estar ciente da sua legislação local.</p>
		</div>

		<div class="pergunta">
		<h3>Mapa Daqui tem fins lucrativos?</h3>
		<p>Não teremos fins lucrativos enquanto isso for um impedimento legal para que o projeto possa ser colocado nas ruas de forma livre. No momento, qualquer encomenda, parceria, ou campanha de crowdfunding realizada será feita a preço de custo, ficando o parceiro livre para nos fazer uma doação de quanto quiser, para ajudar com os custos de manter o site.</p>
		</div>

		<div class="pergunta">
		<h3>Não quero fazer em casa nem em uma gráfica. Posso encomendar um mapa?</h3>
		<p>Claro, entre em contato por <a href="mailto:contatomapadaqui@gmail.com?subject=Contato MapaDaqui">aqui</a>, nós produzimos e enviamos pra você.</p>
		</div>

		<div class="pergunta">
		<h3>Tenho um estabelecimento comercial, como posso ajudar?</h3>
		<p>Você pode se tornar um parceiro entrando em contato por <a href="/torne-parceiro">aqui</a>. A ideia é que você coloque painéis na fachada ou nos arredores do seu estabelecimento. Fazendo isso, e mais uma doação opcional para panter o projeto vivo, você entra para nossa rede de parceiros e ganha um post de divulgação e agradecimento nas redes sociais.</p>
		</div>

		<div class="pergunta">
		<h3>Tem alguma outra pergunta? Entre em contato conosco.</h3>
		<p>contatomapadaqui@gmail.com</p>
		</div>

	</div>

</template>
