<template name="torne_parceiro">
	<div class="row torne-parceiro">
		<div class="container">
			<div class="column featured">
				<img src="/images/foto-ellipse-03.svg" alt=""/>
			</div>
			<div class="column content">
				<h2>Torne-se um parceiro</h2>
				<p>Se você tem um estabelecimento comercial, e gostaria de adotar um mapa, entre em contato! <br> <br>
				Em breve, todo o processo poderá ser feito pelo site, porém ainda estamos funcionando por encomendas.	
				Você encomenda de nós um painel para o seu bairro, cobre os custos de produção e instalação (~R$25), e pronto! Ao fim do processo, colocamos sua marca no mural de parceiros abaixo. <br><br>Fica a critério do parceiro fazer ou não <a href="/cafezinho">uma doação</a> a mais para ajudar a manter o projeto</p>
<a class="button primary" href="mailto:contatomapadaqui@gmail.com?subject=Quero%20me%20tornar%20um%20parceiro">Entre em contato</a>

			</div>
		</div>
	</div>
	<div class="row nossos-parceiros">
		<div class="container">
			<h2>Nossos Parceiros</h2>
			<a href="http://www.redbullbasement.com.br" class="parceiro" id="redbull"></a>
			<a href="http://shoottheshit.cc" class="parceiro" id="shoot"></a>
			<a href="http://www.coffeeshop18.com.br/" class="parceiro" id="coffeeshop18"></a>
			<a href="http://pretocafe.com.br/" class="parceiro" id="preto-cafe"></a>
			<!--<a href="https://www.facebook.com/ocupaouvidor63revitalizacao/" class="parceiro" id="garagem-hamburgueria"></a>-->
		</div>	
	</div>
</template>
